<%- include('header.ejs') %>
<script>
    var link = `/status-secure?v=<%= link %>`;
    var download = "/download?v=<%= link %>";
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="container">
    <br>
    <h1 id="status">Getting Ready...</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div id="spinners">
                <div class="spinner-grow text-primary spinner-border m-1" role="status">
                    <span class="sr-only"></span>
                </div>
                <div class="spinner-grow text-primary spinner-border m-1" role="status">
                    <span class="sr-only"></span>
                </div>
                <div class="spinner-grow text-primary spinner-border m-1" role="status">
                    <span class="sr-only"></span>
                </div>
                <div class="spinner-grow text-primary spinner-border m-1" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
            <h3><i>Remember our site to quickly download YouTube videos for free</i></h3>
            <br>
                <button class="btn btn-primary" id="download_button" disabled type="submit">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" onclick="clicks()"></span>
                    Loading...
                </button>
        </div>
        <div class="col-md-6">
            <iframe width="480" height="270" src="https://www.youtube.com/embed/<%= link %>"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>
<script src="/js/download_status.js"></script>
<%- include('footer.ejs') %>
